body {
	background-color: Black;
	font-family: Helvetica;
	color: LimeGreen;
}

.mobileEntry {
	color: White;
	font-family: Helvetica;
	text-align: left;
}

.mobileEntry.th {
	background-color: #DFCD0D;
} 
